// Mixins
// -------------------------
.transition (@string) {
    -webkit-transition: @string;  
    -moz-transition:    @string;
    -ms-transition:     @string; 
    -o-transition:      @string;  
}
.transform (@string){
    -webkit-transform:  @string;
    -moz-transform: 	@string;
    -ms-transform: 	@string;
    -o-transform: 	@string;
}
.box-sizing (@string){
    -webkit-box-sizing: @string;
    -moz-box-sizing:    @string;
    box-sizing:         @string;
}

// FOR PHONES
/************************/
    /* Intro Panel */
    .intro-panel-wrapper {
	width:100%;
	margin:0 auto;
	padding: 80px 0 40px 0;
	display:block;
	height:auto;
	position:relative;
	text-align:center;
	position: relative;
	.panel-container {
	    text-align:center;
	    max-width:100%;
	    margin:0 auto;
	    h1 {
		font-size:48px;
		color: #FFF;
		small {
		    display:block;
		    text-transform:uppercase;
		    font-size:14px;
		    margin-bottom:30px;
		    color: #FFF;
		}
	    }
	}
	// Top shade
	&:before {
	    content: '';
	    position: absolute;
	    z-index: 0;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	    opacity: 0.8;
	}
	&.clientname-hero {
	    background:#000 url('/assets/images/small.jpg') no-repeat center center;
	    background-size: cover;
	}
    }
    
    /* Info Panel */
    .info-panel-wrapper {
	width:100%;
	margin:0 auto;
	display:block;
	position:relative;
	.panel-container {
	    margin:0 auto;
	    padding: 0;
	    max-width:1600px;
	}
    }

    /* Graphic Panel */
    .graphic-panel-wrapper {
	width:100%;
	display:block;
	overflow-x: scroll;
	&.single {
	    overflow-x: auto;
	    text-align: center;
	}
	.panel-container {
	    margin:0 auto;
	    display:block;
	    vertical-align:middle;
	    text-align:center;
	    padding: 15px;
	    white-space: nowrap;
	    img {
		max-width: 80%;
		margin: 0 5% 0 0;
	    }
	}
    }
    
    /* Photo Panel */
    .photo-panel-wrapper {
	width:100%;
	display:block;
	.panel-container {
	    margin:0;
	    display:block;
	    img {
		max-width: 100%;
	    }
	}
    }

    /* BX Slider */
    .bx-wrapper {
	.bx-viewport {
	    left: 0 !important;
	    border: none !important;
	    box-shadow:none !important;
	    ul {
		li {
		    text-align: center;
		    img {
			max-width: 100%;
			margin: 0 auto;
		    }
		}
	    }
	}
	.bx-controls {
	    .bx-prev {
		background: url(/assets/images/controls.png) no-repeat 0 -32px;
	    }
	    .bx-next {
		right:10px;
		background: url(/assets/images/controls.png) no-repeat -43px -32px;
	    }
	}
    } 
    
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* Intro Panel */
    .intro-panel-wrapper {
	&.clientname-hero {
	    background:#000 url('/assets/images/medium.jpg') no-repeat center center;
	    background-size: cover;
	}
    }
    
    /* Graphic Panel */
    .graphic-panel-wrapper {
	overflow: auto;
	.panel-container {
	    white-space: normal;
	    img {
		max-width: 1000px;
		margin: 20px;
		display: inline-block;
	    }
	}
    }
    
    /* Photo Panel */
    .photo-panel-wrapper {
	.panel-container {
	    img {
		&.full {
		    width: 100%;
		}
		&.half {
		    width: 50%;
		    float: left;
		}
		&.third {
		    width: 33.3333%;
		    float: left;
		}
	    }
	}
    }

    /* BX Slider */
    .bx-wrapper {
	.bx-viewport {
	    left: 0 !important;
	    border: none !important;
	    box-shadow:none !important;
	    ul {
		li {
		    text-align: center;
		    img {
			max-width: 1000px;
			margin: 0 auto;
		    }
		}
	    }
	}
	.bx-controls {
	    .bx-prev {
		background: url(/assets/images/controls.png) no-repeat 0 -32px;
	    }
	    .bx-next {
		right:10px;
		background: url(/assets/images/controls.png) no-repeat -43px -32px;
	    }
	}
    } 
    

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}	    

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /* Intro Panel */
    .intro-panel-wrapper {
	&.clientname-hero {
	    background:#000 url('/assets/images/large.jpg') no-repeat center center;
	    background-size: cover;
	}
    }
    
}
