
/* Generic Colours */
@white:             #FFF;
@black:             #000;
@grey:              #808080;

/* AUX Colours */
@blue:              #00b3e3;
@green:             #71c637;
@orange:            #ffb42d;
