// Mixins
// -------------------------
.transition (@string) {
    -webkit-transition: @string;  
    -moz-transition:    @string;
    -ms-transition:     @string; 
    -o-transition:      @string;  
}
.transform (@string){
    -webkit-transform:  @string;
    -moz-transform: 	@string;
    -ms-transform: 	@string;
    -o-transform: 	@string;
}
.box-sizing (@string){
    -webkit-box-sizing: @string;
    -moz-box-sizing:    @string;
    box-sizing:         @string;
}

// FOR PHONES
/************************/
#contactDetails, #contactMap {
    width: 100%;
    display: block;
}

#contactDetails {
    background: url('https://placeimg.com/640/640/arch') no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 120px 0 80px 0;
    height: 85vh;
    &:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
    }
    .table-wrapper {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
	.inner {
	    display: table-cell;
	    vertical-align: middle;
	    height: 100%;
	    text-align: left;
	    .company-contact-details {
		max-width: 600px;
		padding: 0 20px;
		margin: 0 auto;
		h1 {
		    color: #FFF;
		}
		.contact-detail-single {
		    margin: 0 0 20px 0;
		    overflow: auto;
		    color: #FFF;
		}
	    }
	}
    }
}

#contactMap {
    background: #000;
    height: 320px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #contactDetails, #contactMap {
	width: 50%;
	height: 100vh;
	float: left;
    }
    
    #contactDetails {
	padding: 0;
	height: 100vh;
    }

    #contactMap {
	height: 100vh;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

@media only screen and (max-height : 500px) {
    #contactDetails {
	height: auto; // Prevent contact details hidden in wrapper
    }

}
