// Mixins
// -------------------------
.transition (@string) {
    -webkit-transition: @string;  
    -moz-transition:    @string;
    -ms-transition:     @string; 
    -o-transition:      @string;  
}
.transform (@string){
    -webkit-transform:  @string;
    -moz-transform: 	@string;
    -ms-transform: 	@string;
    -o-transform: 	@string;
}
.box-sizing (@string){
    -webkit-box-sizing: @string;
    -moz-box-sizing:    @string;
    box-sizing:         @string;
}

//Animations
//-------------------
@keyframes hover {
  0%   {
    .transform (translateY(0px));
  }
  50%   {
    .transform (translateY(8px));
  }
  100%   {
    .transform (translateY(0px));
  }
}
@keyframes remove {
  0%   {
    opacity: 1;
    .transform (translateY(0px));
  }
  100%   {
    opacity: 0;
    .transform (translateY(40px));
  }
}
@keyframes reveal {
  0%   {
    opacity: 0;
    .transform (translateY(40px));
  }
  100%   {
    opacity: 1;
    .transform (translateY(0px));
  }
}
@keyframes rotateClockwise {
  0%   {
    .transform (rotate(0deg));
  }
  100%   {
    .transform (rotate(360deg));
  }
}
@keyframes rotateAntiClockwise {
  0%   {
    .transform (rotate(0deg));
  }
  100%   {
    .transform (rotate(-360deg));
  }
}


#fullpage {
    .hero-panel {
	text-align: center;
	padding: 80px 0;
        height: 70vh;
        position: relative;
        #BGshapes {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0.05;
                &#shapes-a {
                    width: 270px;
                    height: 270px;
                    margin: -175px 0 0 -135px;
                    animation: rotateClockwise 50s linear infinite;
                }
                &#shapes-b {
                    width: 670px;
                    height: 550px;
                    margin: -315px 0 0 -335px;
                    animation: rotateAntiClockwise 120s linear infinite;
                }
                &#shapes-c {
                    width: 1010px;
                    height: 740px;
                    margin: -310px 0 0 -505px;
                    animation: rotateClockwise 160s linear infinite;
                }
                &#shapes-d {
                    width: 1300px;
                    margin: -505px 0 0 -650px;
                    animation: rotateAntiClockwise 300s linear infinite;
                }
            }
        }
        #worklinkWrapper {
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 100%;
            text-align: center;
            display: none;
            a {
                margin: 0 auto;
                font-family: 'Mission Gothic', 'Carrois Gothic', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                color: #000;
                width: auto;
                display: inline-block;
                text-decoration: none;
                .transition (all 0.2s ease);
                .icon-slidedown {
                    width: 25px;
                    height: 25px;
                    margin:-5px auto 0 auto;
                    .transition (all 0.2s ease);
                    .down-arrow {
                        fill:#000;
                        overflow: visible;
                        .transition (all 0.2s ease);
                    }
                }
                &:hover, &:focus, &:active {
                    color: #00b3e3;
                    .transition (all 0.2s ease);
                    .icon-slidedown {
                        .down-arrow {
                            fill: #00b3e3;
                            .transition (all 0.2s ease);
                            animation: hover 0.8s linear infinite;
                        }
                    }
                }
            }
        }
        h1, h2 {
            color: #4d4d4d;
            font-size:20px;
            font-weight: 400;
            position: absolute;
            bottom: 30px;
            width: 100%;
            text-align: center;
        }
        h1 {
            bottom: 30px;
            &.sneak-away {
                animation: remove 0.5s ease-in-out forwards;
            }
        }
        h2 {
            display: none;
            &.sneak-in {
                animation: reveal 0.8s ease-in-out forwards;
                display: block;
            }
        }
    }
    .fullscreen-grid {
	a.block-wrapper {
	    background: #ddd;
	    width: 100%;
	    display: block;
	    margin: 0;
	    text-align: center;
	    .table-wrap {
		display: table;
		width: 100%;
		height: 100%;
	    }
	    .cell-wrap {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	    }
	    h2 {
		width: 100%;
	    }
	    label {
		width: 100%;
	    }
	    button {
		display: inline-block;
		margin: 0 auto;
	    }
	}
    }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #fullpage {
	.hero-panel {
	    padding: 0;
            #BGshapes {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0.05;
                    &#shapes-a {
                        width: 270px;
                        height: 270px;
                        margin: -175px 0 0 -135px;
                        animation: rotateClockwise 50s linear infinite;
                    }
                    &#shapes-b {
                        width: 670px;
                        height: 550px;
                        margin: -315px 0 0 -335px;
                        animation: rotateAntiClockwise 120s linear infinite;
                    }
                    &#shapes-c {
                        width: 1010px;
                        height: 740px;
                        margin: -310px 0 0 -505px;
                        animation: rotateClockwise 160s linear infinite;
                    }
                    &#shapes-d {
                        width: 1300px;
                        margin: -505px 0 0 -650px;
                        animation: rotateAntiClockwise 300s linear infinite;
                    }
                }
            }
            #worklinkWrapper {
                position: absolute;
                bottom: 20px;
                left: 0;
                width: 100%;
                text-align: center;
                display: none;
                a {
                    margin: 0 auto;
                    font-family: 'Mission Gothic', 'Carrois Gothic', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #000;
                    width: auto;
                    display: inline-block;
                    text-decoration: none;
                    .transition (all 0.2s ease);
                    .icon-slidedown {
                        width: 25px;
                        height: 25px;
                        margin:-5px auto 0 auto;
                        .transition (all 0.2s ease);
                        .down-arrow {
                            fill:#000;
                            overflow: visible;
                            .transition (all 0.2s ease);
                        }
                    }
                    &:hover, &:focus, &:active {
                        color: #00b3e3;
                        .transition (all 0.2s ease);
                        .icon-slidedown {
                            .down-arrow {
                                fill: #00b3e3;
                                .transition (all 0.2s ease);
                                animation: hover 0.8s linear infinite;
                            }
                        }
                    }
                }
            }
            h1, h2 {
                color: #4d4d4d;
                font-size:60px;
                font-weight: 400;
                position: absolute;
                bottom: 240px;
                width: 100%;
                text-align: center;
            }
            h1 {
                bottom: 300px;
                &.sneak-away {
                    animation: remove 0.5s ease-in-out forwards;
                }
            }
            h2 {
                display: none;
                &.sneak-in {
                    animation: reveal 0.8s ease-in-out forwards;
                    display: block;
                }
            }
                
	}
	.fullscreen-grid {
	    a.block-wrapper {
		width: 50%;
		height: 33.3333%;
		display: inline-block;
		float: left;
	    }
	}
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #fullpage {
	.fullscreen-grid {
	    a.block-wrapper {
		width: 33.3333%;
		height: 50%;
		display: inline-block;
		float: left;
	    }
	}
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

