@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/font-awesome/less/font-awesome.less";

a, a:active, a:focus, a:hover {
    outline: none;
}
body, html {
    height: 100%;
}

img {
    max-width: 100%;
}