// Mixins
// -------------------------
.transition (@string) {
    -webkit-transition: @string;  
    -moz-transition:    @string;
    -ms-transition:     @string; 
    -o-transition:      @string;  
}
.transform (@string){
    -webkit-transform:  @string;
    -moz-transform: 	@string;
    -ms-transform: 	@string;
    -o-transform: 	@string;
}
.box-sizing (@string){
    -webkit-box-sizing: @string;
    -moz-box-sizing:    @string;
    box-sizing:         @string;
}

@keyframes Rotate {
  0%   {
    .transform (rotate(0deg));
  }
  100%   {
    .transform (rotate(360deg));
  }
}

#AUX-Shapes {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#ShapesBG {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background: transparent;
    .inner-table {
	display: table;
	width: 100%;
	height: 100%;
	.inner-table-cell {
	    display: table-cell;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    vertical-align: middle;
	    img {
		height: 100%;
		animation: Rotate 180s infinite;		
	    }
	}
    }
}



