// Mixins
// -------------------------
.transition (@string) {
    -webkit-transition: @string;  
    -moz-transition:    @string;
    -ms-transition:     @string; 
    -o-transition:      @string;  
}
.transform (@string){
    -webkit-transform:  @string;
    -moz-transform: 	@string;
    -ms-transform: 	@string;
    -o-transform: 	@string;
}
.box-sizing (@string){
    -webkit-box-sizing: @string;
    -moz-box-sizing:    @string;
    box-sizing:         @string;
}

@keyframes MoveA {
  0%   {
    .transform (translateX(-1000px) translateY(-500px));
    opacity: 0;
  }
  100%   {
    .transform (translateX(0) translateY(0));
    opacity: 1;
  }
}
@keyframes MoveU {
  0%   {
    .transform (translateY(500px));
    opacity: 0;
  }
  100%   {
    .transform (translateY(0));
    opacity: 1;
  }
}
@keyframes MoveX {
  0%   {
    .transform (translateX(1000px) translateY(500px));
    opacity: 0;
  }
  100%   {
    .transform (translateX(0) translateY(0));
    opacity: 1;
  }
}

@keyframes infiniteRotate {
  0%   {
    .transform (rotate(0deg));
  }
  100%   {
    .transform (rotate(360deg));
  }
}

#AnimationWrapper {
    h1 {
        position: absolute;
        bottom: 30%;
        left: 50%;
        margin-left: -400px;
        width: 800px;
        font-size: 80px;
        z-index: 3;
    }
}
#AUXLogo {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background: transparent;
    z-index: 2;
    #A-Shape {
        fill: #71C638;
        animation: MoveA 0.8s forwards;
    }
    #U-Shape {
        fill: #FFB52D;
        animation: MoveU 0.8s forwards;
    }
    #X-Shape {
        fill: #00B4E4;
        animation: MoveX 0.8s forwards;
    }
}
#BG-Shapes {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background: transparent;
    z-index: 1;
    animation: infiniteRotate 200s infinite linear;
}



