/* IMPORT FONTS */
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic|Roboto:400italic,700italic,300,700,300italic,400);
@font-face {
    font-family: 'Mission Gothic';
    src: url('../fonts/mission_gothic_regular-webfont.eot');
    src: url('../fonts/mission_gothic_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission_gothic_regular-webfont.woff2') format('woff2'),
         url('../fonts/mission_gothic_regular-webfont.woff') format('woff'),
         url('../fonts/mission_gothic_regular-webfont.ttf') format('truetype'),
         url('../fonts/mission_gothic_regular-webfont.svg#mission_gothicregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Mission Gothic';
    src: url('../fonts/mission_gothic_regular_italic-webfont.eot');
    src: url('../fonts/mission_gothic_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission_gothic_regular_italic-webfont.woff2') format('woff2'),
         url('../fonts/mission_gothic_regular_italic-webfont.woff') format('woff'),
         url('../fonts/mission_gothic_regular_italic-webfont.ttf') format('truetype'),
         url('../fonts/mission_gothic_regular_italic-webfont.svg#mission_gothicregular_italic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Mission Gothic';
    src: url('../fonts/mission_gothic_light-webfont.eot');
    src: url('../fonts/mission_gothic_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission_gothic_light-webfont.woff2') format('woff2'),
         url('../fonts/mission_gothic_light-webfont.woff') format('woff'),
         url('../fonts/mission_gothic_light-webfont.ttf') format('truetype'),
         url('../fonts/mission_gothic_light-webfont.svg#mission_gothiclight') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Mission Gothic';
    src: url('../fonts/mission_gothic_light_italic-webfont.eot');
    src: url('../fonts/mission_gothic_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission_gothic_light_italic-webfont.woff2') format('woff2'),
         url('../fonts/mission_gothic_light_italic-webfont.woff') format('woff'),
         url('../fonts/mission_gothic_light_italic-webfont.ttf') format('truetype'),
         url('../fonts/mission_gothic_light_italic-webfont.svg#mission_gothiclight_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Mission Gothic';
    src: url('../fonts/mission_gothic_bold-webfont.eot');
    src: url('../fonts/mission_gothic_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission_gothic_bold-webfont.woff2') format('woff2'),
         url('../fonts/mission_gothic_bold-webfont.woff') format('woff'),
         url('../fonts/mission_gothic_bold-webfont.ttf') format('truetype'),
         url('../fonts/mission_gothic_bold-webfont.svg#mission_gothicbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Mission Gothic';
    src: url('../fonts/mission_gothic_bold_italic-webfont.eot');
    src: url('../fonts/mission_gothic_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission_gothic_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/mission_gothic_bold_italic-webfont.woff') format('woff'),
         url('../fonts/mission_gothic_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/mission_gothic_bold_italic-webfont.svg#mission_gothicbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 18px;
}

h1 {
    font-family: 'Mission Gothic', 'Carrois Gothic', sans-serif;
    font-weight: 700;
}
h2 {
    font-family: 'Mission Gothic', 'Carrois Gothic', sans-serif;
    font-weight: 700;
}