// Mixins
// -------------------------
.transition (@string) {
    -webkit-transition: @string;  
    -moz-transition:    @string;
    -ms-transition:     @string; 
    -o-transition:      @string;  
}
.transform (@string){
    -webkit-transform:  @string;
    -moz-transform: 	@string;
    -ms-transform: 	@string;
    -o-transform: 	@string;
}
.box-sizing (@string){
    -webkit-box-sizing: @string;
    -moz-box-sizing:    @string;
    box-sizing:         @string;
}

.body-darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    opacity:0;
    z-index: 25;
    visibility: hidden;
    .transition (all 0.6s ease);
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    .table {
        width: 100%;
        height: 100%;
        display: none;
        text-align: center;
        position: relative;
        margin: 0;
        .table-cell {
            display: table-cell;
            vertical-align: middle;
            position: relative;
            z-index: 20;
            p {
                color: #FFF;
                font-family: Georgia, Times, 'Times New Roman', serif;
                font-size: 32px;
                line-height: 40px;
                font-style: italic;
                max-width: 680px;
                margin: 0 auto;
                small {
                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-size: 12px;
                    text-transform: uppercase;
                    display: block;
                    margin-top: 15px;
                    font-weight: 700;
                    font-style: normal;
                }
            }
        }
    }
}

/* Menu */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width:80%;
    height: 100vh;
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    
    .transform (translate3d(-105%,0,0));
    .transition (all 0.4s ease);
    
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    
    .menu, .menu ul {
        height: 100%;
    }
    .menu {
        ul{
            margin: 0;
            padding: 0;
            li {
                a {
                    display: block;
                    padding: 0.8em;
                }
            }
        }
    }
}


/* Menu Button */
.menu-button {
    position: fixed;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
}

.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%);
    content: '';
}

.menu-button:hover {
    opacity: 0.6;
}

/* Close Button */
.close-button {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background: transparent;
    color: transparent;
    &::before, &::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;        
    }
    &::before {
        .transform (rotate(45deg));
    }
    &::after {
        .transform (rotate(-45deg));
    }
}

/* Shown menu */
.show-menu {
    .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        ul, ul a {
            -webkit-transition: -webkit-transform 0.8s;
            transition: transform 0.8s;
            -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            ul {
                a {
                    -webkit-transition-duration: 0.9s;
                    transition-duration: 0.9s;                    
                }
            }
        }
    }
    .body-darken {
        opacity:0.8;
        visibility: visible;
        .transition (all 0.6s ease);
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .menu-wrap {
        width:300px;
        .transform (translate3d(-320px,0,0));
    }
    

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .body-darken {
        .table {
            display: table;
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
